Repository algtools/actions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.31.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ce7da8d823b34ed69a950caef7ab7f5eec9eeb85
Due: none

fix: refine merge strategy to better preserve app customizations in update-provisioned-app action
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  e6d7a422b6e7a60aef05abd5da07c4c1bf700597
Due: none

fix: update merge strategy to apply template updates and restore app customizations
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  6004e068c292e74eedf6682354a804e21516c844
Due: none

fix: improve customization detection in update-provisioned-app
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.13 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  6668eef37e63b364ee5f73a6a41f009273c417a5
Due: none

fix: enhance error handling in app customization restoration process
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.14 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  eb7fdb038271efa25cd0138d6c4f9cc1aafc8f57
Due: none

fix: improve error handling during app customization restoration
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  1b7d84a47d0f38d74841b1c008eec1592286eb4e
Due: none

fix: optimize file handling and error management in app customization restoration
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.16 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  8a8360041b900a95219f64935970a101c7dc8d86
Due: none

fix: refine customization detection to focus on source code files
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.17 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  fedbd1e59702300dd0eab3c12150891c0bcf230a
Due: none

feat: enhance template management by adding metadata tracking and improving error handling
  .github/actions/provision-template/action.yml
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.32.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  0f08580d4c064fd2f260fb78c1b4fb1c50431039
Due: none

fix: add alias input to provision template workflow
  .github/workflows/provision-template-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.32.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  b86231351f6e5b1cd15cd36c9c6854ed130ba2a5
Due: none

feat: implement incremental template update
  update-provisioned-app-incremental/COMPLETION_REPORT.md
  update-provisioned-app-incremental/IMPLEMENTATION_SUMMARY.md
  update-provisioned-app-incremental/QUICK_START.md
  update-provisioned-app-incremental/README.md
  update-provisioned-app-incremental/action.yml
  update-provisioned-app-incremental/scripts/apply-incremental-diffs.sh
  update-provisioned-app-incremental/scripts/collect-diffs.sh
  update-provisioned-app-incremental/scripts/detect-version.sh
  update-provisioned-app-incremental/scripts/generate-pr-description.sh
  update-provisioned-app-incremental/scripts/query-versions.sh
  update-provisioned-app-incremental/test-incremental-update.sh
Due: prettier --check

chore(release): 1.33.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  c283c8c5e57254580c52019c06acf06e83a6346b
Due: none

feat: add support for syncing secrets and vars in Cloudflare deployment action
  .github/actions/deploy-cloudflare-from-artifact/README.md
  .github/actions/deploy-cloudflare-from-artifact/action.yml
Due: prettier --check

chore(release): 1.34.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  1614cf39e9927318bdde5edff51171457b648923
Due: none

fix: enhance existing workflows with secrets and vars syncing
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/pr-build-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  README.md
  update-provisioned-app-incremental/TEMPLATE_WORKFLOWS_ADDED.md
  update-provisioned-app-incremental/WORKFLOW_FIX_FOR_EXISTING_APPS.md
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.34.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  990c7d94c6a04dd12dad922b1d821f9c517c86eb
Due: none

chore: update README and action documentation
  .github/actions/deploy-cloudflare-from-artifact/README.md
  README.md
Due: prettier --check

fix: clarify secrets context usage in GitHub Actions workflows
  .github/actions/deploy-cloudflare-from-artifact/README.md
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  ACTIONLINT_SECRETS_CONTEXT_FIX.md
  README.md
Due: prettier --check

Path conditions:
  prettier --check: (((any of: *.{json,md}) or (any of: *.{yml,yaml})) or (any of: .github/workflows/**/*.{yml,yaml})) or (any of: .github/actions/**/*.{yml,yaml})
  sh scripts/actionlint-check.sh: any of: .github/workflows/**/*.{yml,yaml}
