Repository algtools/actions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, sh scripts/actionlint-check.sh

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --check"],
  "*.{yml,yaml}": ["prettier --check"],
  ".github/workflows/**/*.{yml,yaml}": ["prettier --check", "sh scripts/actionlint-check.sh"],
  ".github/actions/**/*.{yml,yaml}": ["prettier --check"]
}

Notes added by 'git notes add'
  f690161475a9b65c884ca516d173b9693812b985
Due: none

feat: implement incremental update system for provisioned apps
  .github/actions/update-provisioned-app/README.md
  .github/actions/update-provisioned-app/action.yml
  .github/actions/update-provisioned-app/rules/README.md
  .github/actions/update-provisioned-app/rules/builtin/package-json.js
  .github/actions/update-provisioned-app/rules/builtin/preserve-files.js
  .github/actions/update-provisioned-app/rules/builtin/strip-placeholders.js
  .github/actions/update-provisioned-app/rules/builtin/wrangler-jsonc.js
  .github/actions/update-provisioned-app/rules/package.json
  .github/actions/update-provisioned-app/rules/rule-engine.js
  .github/actions/update-provisioned-app/rules/schema.json
  .github/actions/update-provisioned-app/scripts/apply-changes.sh
  .github/actions/update-provisioned-app/scripts/collect-diffs.sh
  .github/actions/update-provisioned-app/scripts/detect-version.sh
  .github/actions/update-provisioned-app/scripts/generate-pr-description.sh
  .github/actions/update-provisioned-app/scripts/query-versions.sh
  .github/workflows/update-provisioned-app-reusable.yml
  update-provisioned-app-incremental/COMPLETION_REPORT.md
  update-provisioned-app-incremental/IMPLEMENTATION_SUMMARY.md
  update-provisioned-app-incremental/QUICK_START.md
  update-provisioned-app-incremental/README.md
  update-provisioned-app-incremental/TEMPLATE_WORKFLOWS_ADDED.md
  update-provisioned-app-incremental/WORKFLOW_FIX_FOR_EXISTING_APPS.md
  update-provisioned-app-incremental/action.yml
  update-provisioned-app-incremental/scripts/apply-incremental-diffs.sh
  update-provisioned-app-incremental/scripts/collect-diffs.sh
  update-provisioned-app-incremental/scripts/detect-version.sh
  update-provisioned-app-incremental/scripts/generate-pr-description.sh
  update-provisioned-app-incremental/scripts/query-versions.sh
  update-provisioned-app-incremental/test-incremental-update.sh
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.38.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  64bb61cc538c4a42450034919c3e73141c95f5b1
Due: none

Refactor: Use dynamic secrets and vars JSON for deploy
  .github/workflows/preview-deploy-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

feat: add manage-ephemeral-vectorize action for PR preview index management
  .github/actions/manage-ephemeral-vectorize/IMPLEMENTATION_PLAN.md
  .github/actions/manage-ephemeral-vectorize/README.md
  .github/actions/manage-ephemeral-vectorize/action.yml
  .github/actions/provision-template/action.yml
Due: prettier --check

chore(release): 1.39.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  2531d557b4102347758d8e4c0593dbb94fd15384
Due: none

fix: add environment checks and enhanced error handling in manage-ephemeral-vectorize
  .github/actions/manage-ephemeral-vectorize/action.yml
Due: prettier --check

chore(release): 1.39.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  2c004d35a07cc1de783a044e450808d7b6b19f0c
Due: none

fix: improve index name validation in manage-ephemeral-vectorize
  .github/actions/manage-ephemeral-vectorize/action.yml
Due: prettier --check

chore(release): 1.39.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  0ca9e8255ad69797ab953a92c6973602a2352180
Due: none

fix: add Vectorize permissions check in manage-ephemeral-vectorize action
  .github/actions/manage-ephemeral-vectorize/action.yml
Due: prettier --check

chore(release): 1.39.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  eee9b6800b02dcd5df1dd1686ebea51dc870c372
Due: none

fix: add KV namespace provisioning and configuration to action.yml
  .github/actions/manage-ephemeral-kv/README.md
  .github/actions/manage-ephemeral-kv/action.yml
  .github/actions/provision-template/action.yml
Due: prettier --check

chore(release): 1.39.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  4f9769c6a64af9d580fc6b00aa281ed49f12f352
Due: none

feat: enhance Cloudflare deployment action with versioning support and improved URL extraction
  .github/actions/deploy-cloudflare-from-artifact/action.yml
Due: prettier --check

chore(release): 1.40.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ff36d2ab80d0e29de5c86386915ef004260102e5
Due: none
