Repository algtools/actions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, sh scripts/actionlint-check.sh

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --check"],
  "*.{yml,yaml}": ["prettier --check"],
  ".github/workflows/**/*.{yml,yaml}": ["prettier --check", "sh scripts/actionlint-check.sh"],
  ".github/actions/**/*.{yml,yaml}": ["prettier --check"]
}

fix: implement template structure transformation to align app and workflow directories
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.30.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ca6e38e5d37faecbf270fbbedb6e19bd62c5a7b9
Due: none

fix: improve template update process with enhanced conflict resolution and debugging output
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.30.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  b492b77c5525da34fb54b1d153782f7994575a20
Due: none

Notes added by 'git notes add'
  f1b9d0dec27fc25a106b1a342f3655397b690932
Due: none

Notes added by 'git notes add'
  abede6a361e02b9dc7cd2cc659d14822b7004434
Due: none

Notes added by 'git notes add'
  ae0838fe0c7823198a2511b13d99367a6a7c981f
Due: none

feat: add version display functionality to multiple GitHub actions and workflows
  .github/actions/action-version-banner/action.yml
  .github/actions/build-no-secrets/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/chromatic-upload-from-artifact/action.yml
  .github/actions/comment-pr/action.yml
  .github/actions/create-template-release/action.yml
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/actions/ensure-single-certificate/action.yml
  .github/actions/ensure-wildcard-certificate/action.yml
  .github/actions/manage-ephemeral-database/action.yml
  .github/actions/package-template/action.yml
  .github/actions/provision-template/action.yml
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/template-pack-utility/action.yml
  .github/actions/test-project/action.yml
  .github/actions/test-template/action.yml
  .github/actions/update-provisioned-app/action.yml
  .github/actions/update-template-manifest/action.yml
  .github/actions/upload-artifacts/action.yml
  .github/actions/workflow-version-banner/action.yml
  .github/workflows/build-test-artifact-reusable.yml
  .github/workflows/cleanup-preview-reusable.yml
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/pr-build-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  .github/workflows/provision-template-reusable.yml
  .github/workflows/template-release-reusable.yml
  .github/workflows/update-provisioned-app-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.31.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  7333e5424910931e0e385cea498fc64dd45d1a47
Due: none

fix: remove action and workflow version banner actions
  .github/actions/action-version-banner/action.yml
  .github/actions/build-no-secrets/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/chromatic-upload-from-artifact/action.yml
  .github/actions/comment-pr/action.yml
  .github/actions/create-template-release/action.yml
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/actions/ensure-single-certificate/action.yml
  .github/actions/ensure-wildcard-certificate/action.yml
  .github/actions/manage-ephemeral-database/action.yml
  .github/actions/package-template/action.yml
  .github/actions/provision-template/action.yml
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/template-pack-utility/action.yml
  .github/actions/test-project/action.yml
  .github/actions/test-template/action.yml
  .github/actions/update-provisioned-app/action.yml
  .github/actions/update-template-manifest/action.yml
  .github/actions/upload-artifacts/action.yml
  .github/actions/workflow-version-banner/action.yml
  .github/workflows/build-test-artifact-reusable.yml
  .github/workflows/cleanup-preview-reusable.yml
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/pr-build-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  .github/workflows/provision-template-reusable.yml
  .github/workflows/template-release-reusable.yml
  .github/workflows/update-provisioned-app-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.31.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  44a9b712cec7b54291e00b3b8d2f888416b2f9ba
Due: none

fix: update package.json path in multiple GitHub actions for correct referencing
  .github/actions/build-no-secrets/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/chromatic-upload-from-artifact/action.yml
  .github/actions/comment-pr/action.yml
  .github/actions/create-template-release/action.yml
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/actions/ensure-single-certificate/action.yml
  .github/actions/ensure-wildcard-certificate/action.yml
  .github/actions/manage-ephemeral-database/action.yml
  .github/actions/package-template/action.yml
  .github/actions/provision-template/action.yml
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/template-pack-utility/action.yml
  .github/actions/test-project/action.yml
  .github/actions/test-template/action.yml
  .github/actions/update-provisioned-app/action.yml
  .github/actions/update-template-manifest/action.yml
  .github/actions/upload-artifacts/action.yml
Due: prettier --check

chore(release): 1.31.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  f8c99cd7b1edcd0d4e39019d03ad1fb97533b78a
Due: none

fix: standardize package.json path retrieval
  .github/actions/build-no-secrets/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/chromatic-upload-from-artifact/action.yml
  .github/actions/comment-pr/action.yml
  .github/actions/create-template-release/action.yml
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/actions/ensure-single-certificate/action.yml
  .github/actions/ensure-wildcard-certificate/action.yml
  .github/actions/manage-ephemeral-database/action.yml
  .github/actions/package-template/action.yml
  .github/actions/provision-template/action.yml
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/template-pack-utility/action.yml
  .github/actions/test-project/action.yml
  .github/actions/test-template/action.yml
  .github/actions/update-provisioned-app/action.yml
  .github/actions/update-template-manifest/action.yml
  .github/actions/upload-artifacts/action.yml
Due: prettier --check

chore(release): 1.31.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  eeb89d32e1c3e137067c49d80c8fef4f011467fa
Due: none

fix: streamline version retrieval in GitHub actions
  .github/actions/build-no-secrets/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/chromatic-upload-from-artifact/action.yml
  .github/actions/comment-pr/action.yml
  .github/actions/create-template-release/action.yml
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/actions/ensure-single-certificate/action.yml
  .github/actions/ensure-wildcard-certificate/action.yml
  .github/actions/manage-ephemeral-database/action.yml
  .github/actions/package-template/action.yml
  .github/actions/provision-template/action.yml
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/template-pack-utility/action.yml
  .github/actions/test-project/action.yml
  .github/actions/test-template/action.yml
  .github/actions/update-provisioned-app/action.yml
  .github/actions/update-template-manifest/action.yml
  .github/actions/upload-artifacts/action.yml
Due: prettier --check

chore(release): 1.31.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  217cf1ee775277eff0908c5966571cfec820f707
Due: none

fix: standardize action version display format across multiple GitHub actions
  .github/actions/build-no-secrets/action.yml
  .github/actions/bump-version/action.yml
  .github/actions/chromatic-upload-from-artifact/action.yml
  .github/actions/comment-pr/action.yml
  .github/actions/create-template-release/action.yml
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/actions/ensure-single-certificate/action.yml
  .github/actions/ensure-wildcard-certificate/action.yml
  .github/actions/manage-ephemeral-database/action.yml
  .github/actions/package-template/action.yml
  .github/actions/provision-template/action.yml
  .github/actions/sentry-release/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/template-pack-utility/action.yml
  .github/actions/test-project/action.yml
  .github/actions/test-template/action.yml
  .github/actions/update-provisioned-app/action.yml
  .github/actions/update-template-manifest/action.yml
  .github/actions/upload-artifacts/action.yml
  .github/workflows/build-test-artifact-reusable.yml
  .github/workflows/cleanup-preview-reusable.yml
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/pr-build-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  .github/workflows/provision-template-reusable.yml
  .github/workflows/template-release-reusable.yml
  .github/workflows/update-provisioned-app-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.31.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  efd247fd4e91328ab4be72716182e16c9b400a0f
Due: none

fix: enhance debugging output in update-provisioned-app action
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  f4f5ea26af80cde23fd7f06399496310e986170e
Due: none

fix: allow unrelated histories in git merge for update-provisioned-app action
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  3c52fa711e5eb9950f1576e9a68b892900edfd94
Due: none

fix: improve conflict handling in update-provisioned-app action
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  cdb53861cafb9fbfe1baf4da496b5fe19c19b017
Due: none

fix: update merge strategy in update-provisioned-app
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check

chore(release): 1.31.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  33dbdb2bb6d4c31db0c913da4501e02d37e4ef3e
Due: none

fix: enhance wrangler.jsonc restoration
  .github/actions/update-provisioned-app/action.yml
Due: prettier --check
