Repository algtools/actions: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.34.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  2fa7f7078ed47620bf1199b58a787cf1702fd2d8
Due: none

feat: introduce reusable workflow for preparing secrets in GitHub Actions
  .github/workflows/PREPARE_SECRETS_USAGE.md
  .github/workflows/prepare-secrets-reusable.yml
  README.md
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.35.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  0e79bf74b5e57a447ef89a39234e49eab421bf44
Due: none

feat: enhance Cloudflare deployment workflows with new secrets handling
  .github/actions/deploy-cloudflare-from-artifact/README.md
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/pr-build-reusable.yml
  .github/workflows/prepare-secrets-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  README.md
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.36.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ed60b44054e787e418a0430bc8d86b30c2dbce84
Due: none

fix: improve secrets handling in deployment workflows
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/pr-build-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.36.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  c332d054a8f8cafd29874892c55fa1ccf0e19ab3
Due: none

fix: update secrets handling
  .github/actions/deploy-cloudflare-from-artifact/README.md
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  README.md
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.36.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  0b2526514da733dee3a6370cd30bb1e08097bba8
Due: none

docs: standardize JSON formatting for worker secrets and vars in README files
  .github/actions/deploy-cloudflare-from-artifact/README.md
  README.md
Due: prettier --check

fix: add worker_secrets_json and worker_vars_json inputs
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.36.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  d4d826812c914a231b7849d23edd00e383a53988
Due: none

fix: standardize description formatting in reusable workflows
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.36.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  e871e122f887b43cca1543bef876964e56ed8bbb
Due: none

fix: remove deprecated secrets handling and update documentation
  .github/actions/deploy-cloudflare-from-artifact/action.yml
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/pr-build-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  ACTIONLINT_SECRETS_CONTEXT_FIX.md
  README.md
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.36.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  4fa95f2bb94b9a43053ff2bf11d422591f1b84fd
Due: none

fix: update action steps for syncing secrets
  .github/actions/deploy-cloudflare-from-artifact/action.yml
Due: prettier --check

chore(release): 1.36.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ff0a2ba3e4a8b0d20d4a9f4639774de028f66ebc
Due: none

fix: update variable assignment syntax in deploy action
  .github/actions/deploy-cloudflare-from-artifact/action.yml
Due: prettier --check

chore(release): 1.36.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  a37a77c468a9627d92624ef1b5d4991a93b88bb2
Due: none

fix: update wrangler command args for secret syncing to avoid using --env
  .github/actions/deploy-cloudflare-from-artifact/action.yml
Due: prettier --check

chore(release): 1.36.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  b0e4986829532fce330569997dd296236aff36a7
Due: none

feat: add worker_secrets_json and worker_vars_json
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
Due: prettier --check, sh scripts/actionlint-check.sh

chore(release): 1.37.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  608088edaf6436a7f76a079c15770c180ff1af5a
Due: none

docs: added secret handling in reusable deployments
  README.md
Due: prettier --check

docs: update README and workflows to clarify limitations
  .github/workflows/env-deploy-reusable.yml
  .github/workflows/preview-deploy-reusable.yml
  README.md
Due: prettier --check, sh scripts/actionlint-check.sh

fix: enhance database naming flexibility in manage-ephemeral-database action
  .github/actions/manage-ephemeral-database/action.yml
Due: prettier --check

chore(release): 1.37.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --check

Path conditions:
  prettier --check: (((any of: *.{json,md}) or (any of: *.{yml,yaml})) or (any of: .github/workflows/**/*.{yml,yaml})) or (any of: .github/actions/**/*.{yml,yaml})
  sh scripts/actionlint-check.sh: any of: .github/workflows/**/*.{yml,yaml}
